<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - CP17305</title>
</head>
<body>

    <h1>Tieu de trang Web</h1>

    {{{body}}}

    {{#if showContentMaytinh}}
    <h2>So A: {{soA}}</h2>
    <h2>So B: {{soB}}</h2>
    <h2>Phep tinh: {{phepTinh}}</h2>
    <h2>Ket qua: {{kq}}</h2>
    {{/if}}

</body>
</html>